body{

   width:100%;
   margin=auto; 
}

#haut{
    background: blue;
    min-height: 200px;   
}

#gauche{

    width: 100%;
    height: 500px;
    background: yellow;   
}
#droite{

    width:100%;
    height:500px;
    background:aqua;
}
#bas{

    background: lightgrey;
    height:100%px;
}


